.input-name {
  width: 90%;
  background: rgba(184, 62, 82, 0);
  font-size: 1.8rem;
  color: #c1c4d8;
  text-align: center;
  border: none;
}

.input-description {
  background: rgba(184, 62, 82, 0);
  font-size: 1.2rem;
  color: #c1c4d8;
  padding: 1%;
  margin: 1%;
  border: none;
}