.input-name {
  width: 90%;
  background: rgba(184, 62, 82, 0);
  font-size: 1.8rem;
  color: #c1c4d8;
  text-align: center;
  border: none;
}

.input-description {
  resize: vertical;
  height: 120px;
  background: rgba(184, 62, 82, 0);
  font-size: 1.2rem;
  color: #c1c4d8;
  padding: 1%;
  border: none;
  width: 100%;
}

.input-ingredients {
  background: rgba(184, 62, 82, 0);
  font-size: 1.2rem;
  color: #c1c4d8;
  border: none;
  width: 60%;
}

.more {
  background: aliceblue;
  border-radius: 50% ;
  font-weight: 800;
  border-color: rgba(184, 62, 82, 0.63);
  color: rgba(184, 62, 82, 0.63); 
}

.minus {
  background: aliceblue;
  border-radius: 50% ;
  font-weight: 800;
  border-color: #3633e7;
  color: #3633e7; 
}

.image-recipe {
  width: 350px;
  height: 250px;
  background: rgba(184, 62, 82, 0);
  border: none;
}

.input-image {
  background: rgba(184, 62, 82, 0);
  font-size: 1rem;
  color: rgba(184, 62, 82, 0.63); 
  border: none;
  width: 100%;
  transition: color 2s, background 2s; 

  
  &:focus {
    color: #c1c4d8; 
    background: rgba(184, 62, 82, 0.63); 
  }
}


.input-instructions {
  width: 90%;
  background: rgba(184, 62, 82, 0);
  border: none;
  font-size: 1.2rem;
}

.submit {
  background: rgba(184, 62, 82, 0);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 90%;
  
}

.submit button {
  background-color: aliceblue;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 8%;
}