
.network {
  list-style: none;
  display: flex;
}

.network-item img {
  background-color: rgba(240, 248, 255, 0);
  width: 45%;
}

@media only screen and (min-width: 240px) and (max-width: 319px) {
  .network {
    display: flex;
    padding: 0 1rem;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  
  .network-item img {
    width: 50%;
  }

}

@media only screen and (min-width: 688px) and (max-width: 1023px) {
  .network {
    display: flex;
    padding: 0 1rem;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  
  .network-item img {
    width: 50%;
  }

}