.recipe {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: center;
}

.recipe span {
  font-size: 1.2rem;
  color: #3737c2;
}

.added {
  background-color: #3737c2;
  color: whitesmoke;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.added:hover {
  background-color: #2c8c8f;
}

.delete {
  background-color: #c23771;
  color: whitesmoke;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}