.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}

.title {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.title img {
  background-color: #1b1b3d;
  width: 25%;
  height: 20%;

}

.title-1 {
  color: rgb(211, 35, 123);
  font-size: 2.1rem;
}