.navbar {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  width: 20%;

}

.navbar li {
  border: 2px solid rgb(211, 35, 123);
  padding: 4%;
  margin: 3%;
  width: 100%;
  border-radius: 15%;
}