.navbar {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  width: 20%;

}

.navbar li {
  border: 2px solid rgb(211, 35, 123);
  padding: 4%;
  margin: 3%;
  width: 100%;
  border-radius: 15%;
}

@media only screen and (min-width: 240px) and (max-width: 319px) {
  .navbar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 40%;
    
  }

  .navbar li {
    display: flex;
    align-items: center;
    justify-content: center;
        
  }
}

@media only screen and (min-width: 320px) and (max-width: 413px) {
  .navbar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 40%;
    
  }

  .navbar li {
    display: flex;
    align-items: center;
    justify-content: center;
        
  }
}

@media only screen and (min-width: 414px) and (max-width: 687px) {
  .navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 40%;
    
  }

  .navbar li {
    display: flex;
    align-items: center;
    justify-content: center;
        
  }
}