.cocktail {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: stretch;
  padding: 1%;
  margin: 8%;
  margin-top: 2%;
  background: rgba(184, 62, 82, 0.63);
}

.name {
  width: 90%;
  background: rgba(184, 62, 82, 0);
}


.name h2 {
  font-size: 1.8rem;
  color: #c1c4d8;
  text-align: center;
  background: rgba(184, 62, 82, 0);
}

.name p {
  background: rgba(184, 62, 82, 0);
}

.half {
  display: flex;
  flex-direction: row;
  background: rgba(184, 62, 82, 0);
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 90%;
}

.ingredients {
  width: 60%;
  background: rgba(184, 62, 82, 0);
}

.ingredients p, strong, ul, li {
  background: rgba(184, 62, 82, 0);
}

.image {
  width: 40%;
  height: auto;
  background: rgba(184, 62, 82, 0);
}

.image img {
  width: 350px;
  height: 250px;
}

.instructions {
  width: 90%;
  background: rgba(184, 62, 82, 0);
}

.instructions p, strong, ul, li {
  background: rgba(184, 62, 82, 0);
}

@media only screen and (min-width: 240px) and (max-width: 319px) {
  .cocktail {
    width: 70vh;
    display: flex;
    align-items: center;
    margin-right: -25%;
    padding: 0;
  }

  .half {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .ingredients {
    width: 90%;
  }

  .image {
    width: 90%;
  }

  .image img {
    width: 200px;
    height: 170px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 413px) {
  .cocktail {
    width: 45vh;
    display: flex;
    align-items: center;
    margin-left: 65%;
    padding: 0;
  }

  .half {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 5%;
  }

  .ingredients {
    width: 90%;
  }

  .image {
    width: 100%;
  }

  .image img {
    width: 232px;
    height: 170px;
  }
}

@media only screen and (min-width: 414px) and (max-width: 687px) {
  .cocktail {
    width: 45vh;
  }

  .half {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .ingredients {
    width: 90%;
  }
}

@media only screen and (min-width: 688px) and (max-width: 1023px) {
  .half {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .ingredients{
    width: 90%;
  }

  .image {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .image img {
    width: 400px;
    height: 280px;
  }
}